@import 'mixin.styl'

fontsDir = '../fonts'
main-color = rgb(57,187,209)
second-color = rgb(235,235,235)

/*===========animation=============*/
speed = 30 // %/s

animTime = 5s
animDelay = 0s
animTimeFunc = linear
rocketComeDelay = 0s

*
	box-sizing border-box
	
body
	background main-color
	font-size 120%
	overflow hidden
	@media screen and (max-width: 992px)
			font-size 200%
.container
	@keyframes gravitation
		0%
			transform translateY(-.3vh)
		50%
			transform translateY(1vh)
		100%
			transform translateY(-.3vh)
	#planet
		$animTimeFunc = animTimeFunc
		$animDelay = rocketComeDelay
		coords = {
			x: 0% 20%,
			y: 40% 0%
		}
		fly(speed,coords,$animDelay,$animTimeFunc,both)
					
		width 250px
		height @width
		margin-top 7%
		background second-color
		sS = 20px //shadowSize
		box-shadow inset - sS  (- sS) (sS/3) (sS/3) darken(second-color, 20%)
		border-radius 50%
		margin 7% auto 0 auto
		adaptiveForSmall(400px,400px)
		img
			position relative
			// max-width 30%
			animation pinionRotate 4s linear infinite
			&:nth-child(1)
				left 20%
				top 20%
			&:nth-child(2)
				left 10.5%
				top 30%
				animation-duration 2.2s
			&:nth-child(3)
				top 45%
				left 0%
				transform scale(.8)
				backface-visibility hidden
				animation-direction reverse
				animation-duration 2s
		@keyframes pinionRotate
			from
				transform rotate(-180deg)
			to
				transform rotate(180deg)
	#rocket-plate-wrap
		//animation
		$animTimeFunc = animTimeFunc
		$plateAnimTime = 3s
		$plateAnimTimeFunc = ease
		$animDelay = rocketComeDelay
		coords = {
			x: -80% 0%,
			y: 50% 0%
		}
		fly(speed,coords,$animDelay,$animTimeFunc both)
		+adaptiveForSmall()
			coords = {
				x: -100% 0%,
				y: 50% 0%
			}
			fly(speed,coords,$animDelay,$animTimeFunc both)
			
		// transform translateX(-100%) translateY(0)
		
		blocksWidth = 60%
		$offset = 70
		width 100%
		padding 0 ((100%- blocksWidth)/2)
		+adaptiveForSmall()
			padding 0 3%
		margin 0 auto
		

		#rocket-wrap
			width 100%
			position relative
			z-index 2
			.rocket
				position absolute
				&:nth-child(1)
					left 3.5%
				&:nth-child(2)
					right -12px
				&:before,
				&:after
					content ''
					background rgba(30,30,30,.8)
					width 1%
					height 120%
					absolute top 68% left
					margin-left 26%
					transform-origin 0 0
					animation rocketAxisMove $plateAnimTime $animDelay $plateAnimTimeFunc
					@keyframes rocketAxisMove
						from
							transform rotate(unit($offset/1.2,deg))
						to
							transform rotate(0)
				&:before
					left 1%
				&:after
					left 3%
				img
					max-width 100%
		#plate-wrap
			width 100%
			text-align center
			position relative
			padding-top 112px
			margin 0 auto
			color darken(main-color,30)
			animation plateMove $plateAnimTime $animDelay $plateAnimTimeFunc
			@keyframes plateMove
				from
					transform translateX( unit(- $offset,'px')) \
										translateY(unit(- abs($offset/2),'px'))
				to
					transform translateX(0) translateY(0)
			#plate
				background second-color
				width 90%
				left 5%
				text-align center
				padding 1% 0
				position relative
				h1
					margin 0
					text-transform uppercase
					font-size 290%
					font-weight 300
					@font-face
						src url(fontsDir/TESLA.ttf)
						font-family Tesla
					font-family Tesla,sans-serif
				h4
					margin 0 0 1% 0
					font-size 150%
					@font-face
						src url(fontsDir/BebasNeueRegular.otf)
						font-family BebasNeue
					font-family BebasNeue
				p
					font-size 80%
					margin 0
					position relative
					&:before,
					&:after
						content ''
						width 10%
						height 1px
						background black
					&:before
						absolute top 50% left 160px
					&:after
						absolute top 50% right 160px
				&:after,
				&:before
					content ''
					width 20px
					height @width
					border-radius 50%
					background main-color
					@media screen and (max-width:992px)
						width (@width/1.5)
						height @width
				&:after
					absolute top 4% left 1%
				&:before
					absolute top 4% right 1%
