.container #rocket-free-wrap .free-wrap-second {
  width: 20%;
  height: 100%;
  color: #f00;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #39bbd1;
  font-size: 120%;
  overflow: hidden;
}
@media screen and (max-width: 992px) {
  body {
    font-size: 200%;
  }
}
.container #planet {
  -webkit-animation: 'flyAnim-m' 1.795054935711501s 3s cubic-bezier(0.075, 0.82, 0.165, 1) both;
  -moz-animation: 'flyAnim-m' 1.795054935711501s 3s cubic-bezier(0.075, 0.82, 0.165, 1) both;
  -o-animation: 'flyAnim-m' 1.795054935711501s 3s cubic-bezier(0.075, 0.82, 0.165, 1) both;
  -ms-animation: 'flyAnim-m' 1.795054935711501s 3s cubic-bezier(0.075, 0.82, 0.165, 1) both;
  animation: 'flyAnim-m' 1.795054935711501s 3s cubic-bezier(0.075, 0.82, 0.165, 1) both;
  width: 250px;
  height: 250px;
  margin-top: 7%;
  background: #ebebeb;
  -webkit-box-shadow: inset -20px -20px 6.666666666666667px 6.666666666666667px #bcbcbc;
  box-shadow: inset -20px -20px 6.666666666666667px 6.666666666666667px #bcbcbc;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 7% auto 0 auto;
}
@-moz-keyframes flyAnim-m {
  from {
    -webkit-transform: translateX(0vw) translateY(40vh);
    -moz-transform: translateX(0vw) translateY(40vh);
    -o-transform: translateX(0vw) translateY(40vh);
    -ms-transform: translateX(0vw) translateY(40vh);
    transform: translateX(0vw) translateY(40vh);
  }
  to {
    -webkit-transform: translateX(20vw) translateY(-10vh);
    -moz-transform: translateX(20vw) translateY(-10vh);
    -o-transform: translateX(20vw) translateY(-10vh);
    -ms-transform: translateX(20vw) translateY(-10vh);
    transform: translateX(20vw) translateY(-10vh);
  }
}
@-webkit-keyframes flyAnim-m {
  from {
    -webkit-transform: translateX(0vw) translateY(40vh);
    -moz-transform: translateX(0vw) translateY(40vh);
    -o-transform: translateX(0vw) translateY(40vh);
    -ms-transform: translateX(0vw) translateY(40vh);
    transform: translateX(0vw) translateY(40vh);
  }
  to {
    -webkit-transform: translateX(20vw) translateY(-10vh);
    -moz-transform: translateX(20vw) translateY(-10vh);
    -o-transform: translateX(20vw) translateY(-10vh);
    -ms-transform: translateX(20vw) translateY(-10vh);
    transform: translateX(20vw) translateY(-10vh);
  }
}
@-o-keyframes flyAnim-m {
  from {
    -webkit-transform: translateX(0vw) translateY(40vh);
    -moz-transform: translateX(0vw) translateY(40vh);
    -o-transform: translateX(0vw) translateY(40vh);
    -ms-transform: translateX(0vw) translateY(40vh);
    transform: translateX(0vw) translateY(40vh);
  }
  to {
    -webkit-transform: translateX(20vw) translateY(-10vh);
    -moz-transform: translateX(20vw) translateY(-10vh);
    -o-transform: translateX(20vw) translateY(-10vh);
    -ms-transform: translateX(20vw) translateY(-10vh);
    transform: translateX(20vw) translateY(-10vh);
  }
}
@keyframes flyAnim-m {
  from {
    -webkit-transform: translateX(0vw) translateY(40vh);
    -moz-transform: translateX(0vw) translateY(40vh);
    -o-transform: translateX(0vw) translateY(40vh);
    -ms-transform: translateX(0vw) translateY(40vh);
    transform: translateX(0vw) translateY(40vh);
  }
  to {
    -webkit-transform: translateX(20vw) translateY(-10vh);
    -moz-transform: translateX(20vw) translateY(-10vh);
    -o-transform: translateX(20vw) translateY(-10vh);
    -ms-transform: translateX(20vw) translateY(-10vh);
    transform: translateX(20vw) translateY(-10vh);
  }
}
.container #planet img {
  position: relative;
  -webkit-animation: pinionRotate 4s linear infinite;
  -moz-animation: pinionRotate 4s linear infinite;
  -o-animation: pinionRotate 4s linear infinite;
  -ms-animation: pinionRotate 4s linear infinite;
  animation: pinionRotate 4s linear infinite;
}
.container #planet img:nth-child(1) {
  left: 20%;
  top: 20%;
}
.container #planet img:nth-child(2) {
  left: 10.5%;
  top: 30%;
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  -o-animation-direction: reverse;
  -ms-animation-direction: reverse;
  animation-direction: reverse;
  -webkit-animation-duration: 2.2s;
  -moz-animation-duration: 2.2s;
  -o-animation-duration: 2.2s;
  -ms-animation-duration: 2.2s;
  animation-duration: 2.2s;
}
.container #planet img:nth-child(3) {
  top: 46%;
  left: 3%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  zoom: 0.8;
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  -o-animation-direction: reverse;
  -ms-animation-direction: reverse;
  animation-direction: reverse;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  -ms-animation-duration: 2s;
  animation-duration: 2s;
}
@-moz-keyframes pinionRotate {
  from {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  to {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@-webkit-keyframes pinionRotate {
  from {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  to {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@-o-keyframes pinionRotate {
  from {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  to {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes pinionRotate {
  from {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  to {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
.container #rocket-plate-wrap {
  -webkit-animation: 'flyAnim-y' 2.867441755680876s 3s cubic-bezier(0.075, 0.82, 0.165, 1) both;
  -moz-animation: 'flyAnim-y' 2.867441755680876s 3s cubic-bezier(0.075, 0.82, 0.165, 1) both;
  -o-animation: 'flyAnim-y' 2.867441755680876s 3s cubic-bezier(0.075, 0.82, 0.165, 1) both;
  -ms-animation: 'flyAnim-y' 2.867441755680876s 3s cubic-bezier(0.075, 0.82, 0.165, 1) both;
  animation: 'flyAnim-y' 2.867441755680876s 3s cubic-bezier(0.075, 0.82, 0.165, 1) both;
  width: 700px;
  margin: 0 auto;
}
@-moz-keyframes flyAnim-y {
  from {
    -webkit-transform: translateX(-70vw) translateY(50vh);
    -moz-transform: translateX(-70vw) translateY(50vh);
    -o-transform: translateX(-70vw) translateY(50vh);
    -ms-transform: translateX(-70vw) translateY(50vh);
    transform: translateX(-70vw) translateY(50vh);
  }
  to {
    -webkit-transform: translateX(0vw) translateY(0vh);
    -moz-transform: translateX(0vw) translateY(0vh);
    -o-transform: translateX(0vw) translateY(0vh);
    -ms-transform: translateX(0vw) translateY(0vh);
    transform: translateX(0vw) translateY(0vh);
  }
}
@-webkit-keyframes flyAnim-y {
  from {
    -webkit-transform: translateX(-70vw) translateY(50vh);
    -moz-transform: translateX(-70vw) translateY(50vh);
    -o-transform: translateX(-70vw) translateY(50vh);
    -ms-transform: translateX(-70vw) translateY(50vh);
    transform: translateX(-70vw) translateY(50vh);
  }
  to {
    -webkit-transform: translateX(0vw) translateY(0vh);
    -moz-transform: translateX(0vw) translateY(0vh);
    -o-transform: translateX(0vw) translateY(0vh);
    -ms-transform: translateX(0vw) translateY(0vh);
    transform: translateX(0vw) translateY(0vh);
  }
}
@-o-keyframes flyAnim-y {
  from {
    -webkit-transform: translateX(-70vw) translateY(50vh);
    -moz-transform: translateX(-70vw) translateY(50vh);
    -o-transform: translateX(-70vw) translateY(50vh);
    -ms-transform: translateX(-70vw) translateY(50vh);
    transform: translateX(-70vw) translateY(50vh);
  }
  to {
    -webkit-transform: translateX(0vw) translateY(0vh);
    -moz-transform: translateX(0vw) translateY(0vh);
    -o-transform: translateX(0vw) translateY(0vh);
    -ms-transform: translateX(0vw) translateY(0vh);
    transform: translateX(0vw) translateY(0vh);
  }
}
@keyframes flyAnim-y {
  from {
    -webkit-transform: translateX(-70vw) translateY(50vh);
    -moz-transform: translateX(-70vw) translateY(50vh);
    -o-transform: translateX(-70vw) translateY(50vh);
    -ms-transform: translateX(-70vw) translateY(50vh);
    transform: translateX(-70vw) translateY(50vh);
  }
  to {
    -webkit-transform: translateX(0vw) translateY(0vh);
    -moz-transform: translateX(0vw) translateY(0vh);
    -o-transform: translateX(0vw) translateY(0vh);
    -ms-transform: translateX(0vw) translateY(0vh);
    transform: translateX(0vw) translateY(0vh);
  }
}
@media screen and (max-width: 992px) {
  .container #rocket-plate-wrap {
    -webkit-animation: 'flyAnim-Z' 3.726779962499649s 3s cubic-bezier(0.075, 0.82, 0.165, 1) both;
    -moz-animation: 'flyAnim-Z' 3.726779962499649s 3s cubic-bezier(0.075, 0.82, 0.165, 1) both;
    -o-animation: 'flyAnim-Z' 3.726779962499649s 3s cubic-bezier(0.075, 0.82, 0.165, 1) both;
    -ms-animation: 'flyAnim-Z' 3.726779962499649s 3s cubic-bezier(0.075, 0.82, 0.165, 1) both;
    animation: 'flyAnim-Z' 3.726779962499649s 3s cubic-bezier(0.075, 0.82, 0.165, 1) both;
  }
@-moz-keyframes flyAnim-Z {
    from {
      -webkit-transform: translateX(-100vw) translateY(50vh);
      -moz-transform: translateX(-100vw) translateY(50vh);
      -o-transform: translateX(-100vw) translateY(50vh);
      -ms-transform: translateX(-100vw) translateY(50vh);
      transform: translateX(-100vw) translateY(50vh);
    }
    to {
      -webkit-transform: translateX(0vw) translateY(0vh);
      -moz-transform: translateX(0vw) translateY(0vh);
      -o-transform: translateX(0vw) translateY(0vh);
      -ms-transform: translateX(0vw) translateY(0vh);
      transform: translateX(0vw) translateY(0vh);
    }
}
@-webkit-keyframes flyAnim-Z {
    from {
      -webkit-transform: translateX(-100vw) translateY(50vh);
      -moz-transform: translateX(-100vw) translateY(50vh);
      -o-transform: translateX(-100vw) translateY(50vh);
      -ms-transform: translateX(-100vw) translateY(50vh);
      transform: translateX(-100vw) translateY(50vh);
    }
    to {
      -webkit-transform: translateX(0vw) translateY(0vh);
      -moz-transform: translateX(0vw) translateY(0vh);
      -o-transform: translateX(0vw) translateY(0vh);
      -ms-transform: translateX(0vw) translateY(0vh);
      transform: translateX(0vw) translateY(0vh);
    }
}
@-o-keyframes flyAnim-Z {
    from {
      -webkit-transform: translateX(-100vw) translateY(50vh);
      -moz-transform: translateX(-100vw) translateY(50vh);
      -o-transform: translateX(-100vw) translateY(50vh);
      -ms-transform: translateX(-100vw) translateY(50vh);
      transform: translateX(-100vw) translateY(50vh);
    }
    to {
      -webkit-transform: translateX(0vw) translateY(0vh);
      -moz-transform: translateX(0vw) translateY(0vh);
      -o-transform: translateX(0vw) translateY(0vh);
      -ms-transform: translateX(0vw) translateY(0vh);
      transform: translateX(0vw) translateY(0vh);
    }
}
@keyframes flyAnim-Z {
    from {
      -webkit-transform: translateX(-100vw) translateY(50vh);
      -moz-transform: translateX(-100vw) translateY(50vh);
      -o-transform: translateX(-100vw) translateY(50vh);
      -ms-transform: translateX(-100vw) translateY(50vh);
      transform: translateX(-100vw) translateY(50vh);
    }
    to {
      -webkit-transform: translateX(0vw) translateY(0vh);
      -moz-transform: translateX(0vw) translateY(0vh);
      -o-transform: translateX(0vw) translateY(0vh);
      -ms-transform: translateX(0vw) translateY(0vh);
      transform: translateX(0vw) translateY(0vh);
    }
}
}
@media screen and (max-width: 992px) {
  .container #rocket-plate-wrap {
    width: 92%;
  }
}
.container #rocket-plate-wrap #rocket-wrap {
  width: 100%;
  position: relative;
  z-index: 2;
}
.container #rocket-plate-wrap #rocket-wrap .rocket {
  position: absolute;
}
.container #rocket-plate-wrap #rocket-wrap .rocket:nth-child(1) {
  left: 3.5%;
}
.container #rocket-plate-wrap #rocket-wrap .rocket:nth-child(2) {
  right: -20px;
}
.container #rocket-plate-wrap #rocket-wrap .rocket:before,
.container #rocket-plate-wrap #rocket-wrap .rocket:after {
  content: '';
  background: rgba(30,30,30,0.8);
  width: 1%;
  height: 120%;
  position: absolute;
  top: 68%;
  left: 0;
  margin-left: 26%;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-animation: rocketAxisMove 1s 3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -moz-animation: rocketAxisMove 1s 3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -o-animation: rocketAxisMove 1s 3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -ms-animation: rocketAxisMove 1s 3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  animation: rocketAxisMove 1s 3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
@-moz-keyframes rocketAxisMove {
  from {
    -webkit-transform: rotate(58.333333333333336deg);
    -moz-transform: rotate(58.333333333333336deg);
    -o-transform: rotate(58.333333333333336deg);
    -ms-transform: rotate(58.333333333333336deg);
    transform: rotate(58.333333333333336deg);
  }
  to {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
}
@-webkit-keyframes rocketAxisMove {
  from {
    -webkit-transform: rotate(58.333333333333336deg);
    -moz-transform: rotate(58.333333333333336deg);
    -o-transform: rotate(58.333333333333336deg);
    -ms-transform: rotate(58.333333333333336deg);
    transform: rotate(58.333333333333336deg);
  }
  to {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
}
@-o-keyframes rocketAxisMove {
  from {
    -webkit-transform: rotate(58.333333333333336deg);
    -moz-transform: rotate(58.333333333333336deg);
    -o-transform: rotate(58.333333333333336deg);
    -ms-transform: rotate(58.333333333333336deg);
    transform: rotate(58.333333333333336deg);
  }
  to {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes rocketAxisMove {
  from {
    -webkit-transform: rotate(58.333333333333336deg);
    -moz-transform: rotate(58.333333333333336deg);
    -o-transform: rotate(58.333333333333336deg);
    -ms-transform: rotate(58.333333333333336deg);
    transform: rotate(58.333333333333336deg);
  }
  to {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
}
.container #rocket-plate-wrap #rocket-wrap .rocket:before {
  left: 1%;
}
.container #rocket-plate-wrap #rocket-wrap .rocket:after {
  left: 3%;
}
.container #rocket-plate-wrap #rocket-wrap .rocket img {
  max-width: 100%;
}
.container #rocket-plate-wrap #plate-wrap {
  width: 100%;
  text-align: center;
  position: relative;
  padding-top: 112px;
  margin: 0 auto;
  color: #15525c;
  -webkit-animation: plateMove 1s 3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -moz-animation: plateMove 1s 3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -o-animation: plateMove 1s 3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -ms-animation: plateMove 1s 3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  animation: plateMove 1s 3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.container #rocket-plate-wrap #plate-wrap #plate {
  background: #ebebeb;
  width: 90%;
  left: 5%;
  text-align: center;
  padding: 1% 0;
  position: relative;
}
.container #rocket-plate-wrap #plate-wrap #plate h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 290%;
  font-weight: 300;
  font-family: Tesla, sans-serif;
}
@font-face {
  src: url("../fonts/TESLA.ttf");
  font-family: Tesla;
}
.container #rocket-plate-wrap #plate-wrap #plate h4 {
  margin: 0 0 1% 0;
  font-size: 150%;
  font-family: BebasNeue;
}
@font-face {
  src: url("../fonts/BebasNeueRegular.otf");
  font-family: BebasNeue;
}
.container #rocket-plate-wrap #plate-wrap #plate p {
  font-size: 80%;
  margin: 0;
  position: relative;
}
.container #rocket-plate-wrap #plate-wrap #plate p:before,
.container #rocket-plate-wrap #plate-wrap #plate p:after {
  content: '';
  width: 10%;
  height: 1px;
  background: #000;
}
.container #rocket-plate-wrap #plate-wrap #plate p:before {
  position: absolute;
  top: 50%;
  left: 160px;
}
.container #rocket-plate-wrap #plate-wrap #plate p:after {
  position: absolute;
  top: 50%;
  right: 160px;
}
.container #rocket-plate-wrap #plate-wrap #plate:after,
.container #rocket-plate-wrap #plate-wrap #plate:before {
  content: '';
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #39bbd1;
}
@media screen and (max-width: 992px) {
  .container #rocket-plate-wrap #plate-wrap #plate:after,
  .container #rocket-plate-wrap #plate-wrap #plate:before {
    width: 13.333333333333334px;
    height: 13.333333333333334px;
  }
}
.container #rocket-plate-wrap #plate-wrap #plate:after {
  position: absolute;
  top: 4%;
  left: 1%;
}
.container #rocket-plate-wrap #plate-wrap #plate:before {
  position: absolute;
  top: 4%;
  right: 1%;
}
@-moz-keyframes plateMove {
  from {
    -webkit-transform: translateX(-70px) translateY(-35px);
    -moz-transform: translateX(-70px) translateY(-35px);
    -o-transform: translateX(-70px) translateY(-35px);
    -ms-transform: translateX(-70px) translateY(-35px);
    transform: translateX(-70px) translateY(-35px);
  }
  to {
    -webkit-transform: translateX(0) translateY(0);
    -moz-transform: translateX(0) translateY(0);
    -o-transform: translateX(0) translateY(0);
    -ms-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
}
@-webkit-keyframes plateMove {
  from {
    -webkit-transform: translateX(-70px) translateY(-35px);
    -moz-transform: translateX(-70px) translateY(-35px);
    -o-transform: translateX(-70px) translateY(-35px);
    -ms-transform: translateX(-70px) translateY(-35px);
    transform: translateX(-70px) translateY(-35px);
  }
  to {
    -webkit-transform: translateX(0) translateY(0);
    -moz-transform: translateX(0) translateY(0);
    -o-transform: translateX(0) translateY(0);
    -ms-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
}
@-o-keyframes plateMove {
  from {
    -webkit-transform: translateX(-70px) translateY(-35px);
    -moz-transform: translateX(-70px) translateY(-35px);
    -o-transform: translateX(-70px) translateY(-35px);
    -ms-transform: translateX(-70px) translateY(-35px);
    transform: translateX(-70px) translateY(-35px);
  }
  to {
    -webkit-transform: translateX(0) translateY(0);
    -moz-transform: translateX(0) translateY(0);
    -o-transform: translateX(0) translateY(0);
    -ms-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
}
@keyframes plateMove {
  from {
    -webkit-transform: translateX(-70px) translateY(-35px);
    -moz-transform: translateX(-70px) translateY(-35px);
    -o-transform: translateX(-70px) translateY(-35px);
    -ms-transform: translateX(-70px) translateY(-35px);
    transform: translateX(-70px) translateY(-35px);
  }
  to {
    -webkit-transform: translateX(0) translateY(0);
    -moz-transform: translateX(0) translateY(0);
    -o-transform: translateX(0) translateY(0);
    -ms-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
}
.container #rocket-free-wrap .free-wrap-first {
  position: absolute;
  top: 150px;
  left: 100px;
  -webkit-animation: 'flyAnim-q' 0.642824346533225s linear 1.414213562373095s both;
  -moz-animation: 'flyAnim-q' 0.642824346533225s linear 1.414213562373095s both;
  -o-animation: 'flyAnim-q' 0.642824346533225s linear 1.414213562373095s both;
  -ms-animation: 'flyAnim-q' 0.642824346533225s linear 1.414213562373095s both;
  animation: 'flyAnim-q' 0.642824346533225s linear 1.414213562373095s both;
}
.container #rocket-free-wrap .free-wrap-first .rocket {
  -webkit-animation: 'flyAnim-U' 1.414213562373095s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-animation: 'flyAnim-U' 1.414213562373095s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-animation: 'flyAnim-U' 1.414213562373095s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -ms-animation: 'flyAnim-U' 1.414213562373095s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  animation: 'flyAnim-U' 1.414213562373095s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
@-moz-keyframes flyAnim-U {
  from {
    -webkit-transform: translateX(-30vw) translateY(30vh);
    -moz-transform: translateX(-30vw) translateY(30vh);
    -o-transform: translateX(-30vw) translateY(30vh);
    -ms-transform: translateX(-30vw) translateY(30vh);
    transform: translateX(-30vw) translateY(30vh);
  }
  to {
    -webkit-transform: translateX(0vw) translateY(0vh);
    -moz-transform: translateX(0vw) translateY(0vh);
    -o-transform: translateX(0vw) translateY(0vh);
    -ms-transform: translateX(0vw) translateY(0vh);
    transform: translateX(0vw) translateY(0vh);
  }
}
@-webkit-keyframes flyAnim-U {
  from {
    -webkit-transform: translateX(-30vw) translateY(30vh);
    -moz-transform: translateX(-30vw) translateY(30vh);
    -o-transform: translateX(-30vw) translateY(30vh);
    -ms-transform: translateX(-30vw) translateY(30vh);
    transform: translateX(-30vw) translateY(30vh);
  }
  to {
    -webkit-transform: translateX(0vw) translateY(0vh);
    -moz-transform: translateX(0vw) translateY(0vh);
    -o-transform: translateX(0vw) translateY(0vh);
    -ms-transform: translateX(0vw) translateY(0vh);
    transform: translateX(0vw) translateY(0vh);
  }
}
@-o-keyframes flyAnim-U {
  from {
    -webkit-transform: translateX(-30vw) translateY(30vh);
    -moz-transform: translateX(-30vw) translateY(30vh);
    -o-transform: translateX(-30vw) translateY(30vh);
    -ms-transform: translateX(-30vw) translateY(30vh);
    transform: translateX(-30vw) translateY(30vh);
  }
  to {
    -webkit-transform: translateX(0vw) translateY(0vh);
    -moz-transform: translateX(0vw) translateY(0vh);
    -o-transform: translateX(0vw) translateY(0vh);
    -ms-transform: translateX(0vw) translateY(0vh);
    transform: translateX(0vw) translateY(0vh);
  }
}
@keyframes flyAnim-U {
  from {
    -webkit-transform: translateX(-30vw) translateY(30vh);
    -moz-transform: translateX(-30vw) translateY(30vh);
    -o-transform: translateX(-30vw) translateY(30vh);
    -ms-transform: translateX(-30vw) translateY(30vh);
    transform: translateX(-30vw) translateY(30vh);
  }
  to {
    -webkit-transform: translateX(0vw) translateY(0vh);
    -moz-transform: translateX(0vw) translateY(0vh);
    -o-transform: translateX(0vw) translateY(0vh);
    -ms-transform: translateX(0vw) translateY(0vh);
    transform: translateX(0vw) translateY(0vh);
  }
}
@-moz-keyframes flyAnim-q {
  from {
    -webkit-transform: translateX(0vw) translateY(0vw);
    -moz-transform: translateX(0vw) translateY(0vw);
    -o-transform: translateX(0vw) translateY(0vw);
    -ms-transform: translateX(0vw) translateY(0vw);
    transform: translateX(0vw) translateY(0vw);
  }
  to {
    -webkit-transform: translateX(50vw) translateY(-50vh);
    -moz-transform: translateX(50vw) translateY(-50vh);
    -o-transform: translateX(50vw) translateY(-50vh);
    -ms-transform: translateX(50vw) translateY(-50vh);
    transform: translateX(50vw) translateY(-50vh);
  }
}
@-webkit-keyframes flyAnim-q {
  from {
    -webkit-transform: translateX(0vw) translateY(0vw);
    -moz-transform: translateX(0vw) translateY(0vw);
    -o-transform: translateX(0vw) translateY(0vw);
    -ms-transform: translateX(0vw) translateY(0vw);
    transform: translateX(0vw) translateY(0vw);
  }
  to {
    -webkit-transform: translateX(50vw) translateY(-50vh);
    -moz-transform: translateX(50vw) translateY(-50vh);
    -o-transform: translateX(50vw) translateY(-50vh);
    -ms-transform: translateX(50vw) translateY(-50vh);
    transform: translateX(50vw) translateY(-50vh);
  }
}
@-o-keyframes flyAnim-q {
  from {
    -webkit-transform: translateX(0vw) translateY(0vw);
    -moz-transform: translateX(0vw) translateY(0vw);
    -o-transform: translateX(0vw) translateY(0vw);
    -ms-transform: translateX(0vw) translateY(0vw);
    transform: translateX(0vw) translateY(0vw);
  }
  to {
    -webkit-transform: translateX(50vw) translateY(-50vh);
    -moz-transform: translateX(50vw) translateY(-50vh);
    -o-transform: translateX(50vw) translateY(-50vh);
    -ms-transform: translateX(50vw) translateY(-50vh);
    transform: translateX(50vw) translateY(-50vh);
  }
}
@keyframes flyAnim-q {
  from {
    -webkit-transform: translateX(0vw) translateY(0vw);
    -moz-transform: translateX(0vw) translateY(0vw);
    -o-transform: translateX(0vw) translateY(0vw);
    -ms-transform: translateX(0vw) translateY(0vw);
    transform: translateX(0vw) translateY(0vw);
  }
  to {
    -webkit-transform: translateX(50vw) translateY(-50vh);
    -moz-transform: translateX(50vw) translateY(-50vh);
    -o-transform: translateX(50vw) translateY(-50vh);
    -ms-transform: translateX(50vw) translateY(-50vh);
    transform: translateX(50vw) translateY(-50vh);
  }
}
.container #rocket-free-wrap .free-wrap-first .rocket {
  position: relative;
}
.container #rocket-free-wrap .free-wrap-first .rocket img {
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.container #rocket-free-wrap .free-wrap-first .rocket:after {
  content: '';
  width: 1px;
  height: 60%;
  background: #fff;
  position: absolute;
  top: 75%;
  left: 40%;
}
.container #rocket-free-wrap .free-wrap-first img.component {
  position: relative;
  top: 20px;
  left: 23px;
  display: block;
  z-index: 2;
}
.container #rocket-free-wrap .free-wrap-second {
  width: 100%;
}
